<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'core:index' %}">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'billing:list_invoices' %}">Invoices</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'billing:list_buyers' %}">Buyers</a>
        </li>
        {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% if user.is_authenticated %}
            User
            {% else %}
            Account
            {% endif %}
          </a>
          <ul class="dropdown-menu">
            {% if user.is_authenticated %}
                {% if user.is_company %}
                <li><a class="dropdown-item" href="{% url 'accounts:company_profile' %}">Company profile</a></li>
                 {% else %}
                <li><a class="dropdown-item" href="{% url 'accounts:individual_profile' %}">Profile</a></li>
                {% endif %}
                <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                    <button type="submit" class="dropdown-item">Logout</button>
                </form>
            {% else %}
            <li><a class="dropdown-item" href="{% url 'login' %}">LogIn</a></li>
            <li><a class="dropdown-item" href="{% url 'accounts:sign_up' %}">SignUp</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>