body {
    background: url('/static/images/bg.png') repeat-y center center;
    background-size: cover;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', sans-serif;
}


h1 {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: system-ui;
}

a {
    color: #c1b6ff;
    text-decoration: none;
}