// Bootstrap variable overrides go BEFORE bootstrap import
$navbar-dark-bg: rgba(0, 0, 0, 0.7);
$navbar-dark-color: #fff;
$navbar-dark-hover-color: #ccc;

$dropdown-bg: rgba(0, 0, 0, 0.6);
$dropdown-link-color: #fff;
$dropdown-link-hover-color: #4e4e4e;

