{% extends 'base.html' %}
{% block title%}Create Profile{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="align-items-center justify-content-center flex">
    <div class="text-start frosty-container mx-auto my-5">
        <h2>Create profile</h2>
        <form method="post">
            {% csrf_token %}
            {{ profile_form|crispy }}
            {{ bank_form|crispy }}
            <button type="submit" class="btn btn-outline-info">Create</button>
            <a href="{% url "accounts:user_delete" user.pk %}" class="btn btn-danger">DELETE Account</a>
        </form>
    </div>
</div>

{% endblock %}
