{% extends 'base.html' %}
{% block title %}Individual profile{% endblock %}
{% block content %}

<div class="align-items-center justify-content-center flex">
    <div class="text-start frosty-container mx-auto my-3">
        <a href="{% url 'accounts:iprofile_update' %}" class="btn btn-outline-info mb-3">Update profile</a>
        <a href="{% url 'accounts:bank' %}" class="btn btn-outline-info mb-3">Update bank account</a>
        <h3 class="my-3">Individual profile</h3> 
        <ul>
        {% for label, value in fields %}
            <li><strong>{{ label|capfirst }}</strong>: {{ value }} </li>
        {% endfor %}
        </ul>
        <h4>Bank Account info:</h4>
        <p><strong>IBAN:</strong> {{ bank_account.iban }}</p>
        <p><strong>Bank Name:</strong> {{ bank_account.bank_name }}</p>
        <p><strong>SWIFT:</strong> {{ bank_account.swift }}</p>
    </div>
</div>
{% endblock %}