{% extends 'base.html' %}
{% block title %}Clients list{% endblock %}
{% block content %}

<div class="align-items-center justify-content-center flex">
    <div class="text-center frosty-container mx-auto my-3">
    <a href="{% url 'billing:add_buyer' %}" class="btn text-info mb-3">Add Client</a>
    <h3>Your Clients</h3>
    
    <hr class="w-25 mx-auto">
    {% for buyer in object_list %}
        <p>{{ buyer.name }} <a href="{% url 'billing:update_buyer' buyer.pk %}" class="btn btn-outline-info">Edit</a> <a href="{% url 'billing:delete_buyer' buyer.pk %}" class="btn btn-danger">Delete</a></p>
        <hr class="w-50 mx-auto">
    {% endfor %}

    </div>
</div>

{% endblock %}