{% extends 'base.html' %}
{% block title %}Index{% endblock %}
{% block content %}

<div class="align-items-center justify-content-center flex">
    <div class="text-center frosty-container mx-auto my-3">
        
        <h3>Welcome to BillMaker.eu</h3>
        <h5>Simple, Free invoicing Tool</h5>
        <hr class="w-25 mx-auto">
        <p>This is a completely free tool to create invoices and download them as PDFs</p>
        <p>Your data stays private - nothing is shared, tracked or sold</p>
        <p>No tracking. No ads. No spam. Ever.</p>
        <p>I'd love to hear your ideas to improve the app - email me at <a href="mailto:support@billmaker.eu">support@billmaker.eu</a></p>
        <p>I built this as my first hands-on Django project to showcase my skills as a junior backend developer</p>
        <p>This project is maintained out of my pocket to show what i can build to help others. If it's useful to you, that makes me happy</p>
        <p class="small-text mt-4">If you're hiring or mentoring junior Python/Django developers, feel free to reach out as well</p>
        <p>Thanks for visiting!</p>

    </div>
    <div class="frosty-container mx-auto my-5">
        <h3>Tech stack:</h3>
        <hr class="w-25">
        <p>Python</p>
        <p>Django</p>
        <p>PostgreSQL</p>
        <p>Secure Linux-based VPS</p>
        <p>HTML, CSS, Bootstrap</p>
        <p>Source code: <a href="https://github.com/tadas-jnl/Invoicing.git">GitHub</a></p>
    </div>
</div>
{% endblock %}